@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

.root {
  --foreground-rgb: 249, 249, 249;
  --background-start-rgb: 33, 33, 33;
  --background-end-rgb: 33, 33, 33;
  --font-family: 'Rubik', sans-serif;
}

@media (prefers-color-scheme: dark) {
  .root {
    --foreground-rgb: 249, 249, 249;
    --background-start-rgb: 33, 33, 33;
    --background-end-rgb: 33, 33, 33;
    --font-family: 'Rubik', sans-serif;
  }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 462px;
    height: 24px;
    left: 951px;
    top: 47px;
    font-size: 20px;
    font-weight: 300;
    color: #D7D3D3;
  }

.end {
  position: absolute;
  height: 43px;
  left: 635px;
  top: 351px;

  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

.bye_msg {
  position: absolute;
  width: 843px;
  height: 48px;
  left: 311px;
  top: 404px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.mail_link {
  position: absolute;
  height: 19px;
  left: 725px;
  top: 605px;

  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.email {
  position: absolute;
  height: 19px;
  left: 655px;
  top: 634px;
  
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.socials {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 760px;
  left: 700px;
}

.top {
  position: absolute;
  height: 24px;
  left: 1413px;
  top: 833px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}