@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 33, 33, 33;
  --background-start-rgb: 249, 249, 249;
  --background-end-rgb: 249, 249, 249;
  --font-family: Rubik, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 33, 33, 33;
    --background-start-rgb: 249, 249, 249;
    --background-end-rgb: 249, 249, 249;
    --font-family: Rubik, sans-serif;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 48px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
