@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

.logo {
    position: absolute;
    width: 47px;
    height: 43px;
    left: 84px;
    top: 38px;
    
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
  }

.title_intro h1 {
    position: absolute;
    width: 319px;
    height: 86px;
    left: 216px;
    top: 280px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
  }
  
  .title_intro h2 {
    position: absolute;
    width: 625px;
    height: 56px;
    left: 216px;
    top: 380px;
    
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  
  .links {
    font-size: 16px;
    font-weight: 300;
  }
  
  .socials {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 760px;
    left: 216px;
  }
  
  .email {
    position: absolute;
    width: 198px;
    height: 19px;
    left: 1215px;
    top: 760px;
    
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  