@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* homepage */

.logo {
    position: absolute;
    height: 43px;
    left: 84px;
    top: 38px;
    
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
  }

.title_intro h1 {
    position: absolute;
    height: 86px;
    left: 216px;
    top: 280px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
  }
  
  .title_intro h2 {
    position: absolute;
    height: 56px;
    left: 216px;
    top: 380px;
    
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  
  .links {
    font-size: 16px;
    font-weight: 300;
  }
  
  .socials {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 760px;
    left: 216px;
  }
  
  .email {
    position: absolute;
    height: 19px;
    left: 1215px;
    top: 760px;
    
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }

  /* about page */

  .section_number {
    position: relative;
    height: 33px;
    top: 8px;
    left: 156px;
  
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
  }
  
  .section_title {
    position: relative;
    height: 43px;
    top: 0px;
    left: 186px;
  
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
  }

  .about_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 285px;
    width: 1300px;
  }

  .d1 {
    position: relative;
    left: 156px;
    width: 364px;
    text-align: center;
}

.d2 {
    position: relative;
    left: 156px;
    width: 364px;
    text-align: center;
}

.d3 {
    position: relative;
    left: 156px;
    width: 364px;
    text-align: center;
}

.icon {
    position: relative;
    top: 0px;
}

.header {
    position: relative;
    height: 28px;
    top: 34px;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.text_box {
    position: relative;
    width: 364px;
    left: 0px;
    top: 70px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

/* skills page */


/* internships page */


/* education page */
.entry {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 28px;
  top: 286px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-indent: 223px;
}

.entry h1 {
  position: relative;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.entry h2 {
  position: relative;
  top: 10px;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.entry h3 {
  position: relative;
  top: 50px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* contacts page */
.end {
  position: relative;
  height: 43px;
  top: 351px;

  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.bye_msg {
  position: relative;
  width: 843px;
  height: 48px;
  left: 311px;
  top: 404px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.mail_link {
  position: relative;
  height: 19px;
  top: 605px;

  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.c_email {
  position: relative;
  height: 19px;
  top: 634px;
  
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.c_socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 760px;
}